@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Variables */
:root {
    --primary-color: #9FE870;
    --secondary-color: #f7f5f4;
    --hover-color: #89EC5A;
    --font-size-small: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-top: 6rem;
}

/* Header Section Style Start Here */
header {
    position: fixed;
    top: 0;
    z-index: 1000;          /* Keeps the header above other content */
    width: 100%;
    background-color: #fff;
}

.header-container,
.header-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header-left .logo {
    margin-right: 2.5rem;
    padding-top: 5px;
}

.header-left ul li,
.header-right ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 1rem;
    color: #163300;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.header-right ul .lang {
    display: inline-flex;
    position: relative;
    top: 3px;
    gap: 0.3rem;
}

.header-right ul img {
    height: 20px;
}

.header-left ul li:hover,
.header-right ul li:hover {
    border-radius: 20px;
    background-color: var(--primary-color);
}
/* Header Section Style End Here */


/* Main Section Style Start Here */
main {
    width: 100%;
    text-align: center;
}

/* Heading Section Style */
.heading h1 {
    font-size: 5rem;
    font-weight: 900;
    padding: 3rem 0;
    line-height: 85%;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.heading p {
    color: #5a5959;
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: 150%;
}

.main-container .btn button {
    color:#163300;
    margin-top: 2rem;
    font-size: var(--font-size-small);
    font-weight: 500;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-container .btn .primary-btn {
    margin-right: 1rem;
    background-color: var(--primary-color);
}

.main-container .btn .secondary-btn {
    background-color: var(--secondary-color);
}

.main-container .btn .primary-btn:hover,
.main-container .btn .secondary-btn:hover {
    transition: 0.2s;
    background-color: var(--hover-color);
}

/* Main Image Style */
.main-container .main-image {
    width: 85%;
    margin: 3rem auto 2rem;
}

.main-container .main-image img {
    width: 100%;
}

.main-container .app-store img {
    height: 3rem;
    margin: 0 1rem;
}

/* Exchange Rate Section Style */
.exchange-rate-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin: 2rem;
    padding: 1.5rem 0;
    background-color: #9FE870;
}

.rate-text {
    width: 45%;
}

.rate-text h2 {
    color:#163300;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1rem;
}

.rate-text p {
    color: #294422;
    font-size: 1rem;
    text-align: left;
    line-height: 150%;
}

.rate-text .btn {
    text-align: left;
}

.rate-text .btn .send-money:hover {
    color: #b6faa5;
    background-color: #163300;
}

/* Exchange Rate Calculator Style */
.exchange-rate-container .rate-calculator {
    width: 40%;
    margin: 5rem 0;
}

.exchange-rate-container .rate-calculator {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rate-calculator p {
    font-size: 13px;
    font-weight: 600;
    padding-left: 30px;
    text-align: left;
}

.sender-money, 
.receiver-money {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #163300;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 30px;
    border-radius: 10px;
    border: 1px solid #163300;
    cursor: pointer;
    border: 2px solid tomato;
}

.rate-calculator input {
    width: 20vw;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    border: none;
    outline: none;
}

.rate-calculator input::placeholder {
    color: #000;
}

.sender-money .country,
.receiver-money .country {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
}

.sender-money img,
.receiver-money img {
    height: 20px;
}

.sender-money .fa-angle-down,
.receiver-money .fa-angle-down {
    font-size: 15px;
    margin-left: 7px;
}

.sender .fa-circle {
    font-size: 8px;
    color: rgb(228, 226, 226);
}

.sender .account-fee, 
.sender .transfer-fee, 
.sender .total-fee,
.sender .convert-amount,
.sender .guaranteed-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 35px;
    cursor: pointer;
}

.sender .total-fee {
    margin-bottom: 30px;
}

.receiver, .saving {
    margin-top: 15px;
}

.rate-calculator .btn button {
    font-size: 1rem;
    font-weight: 600;
}

/* Feature Section Style */
.features {
    padding: 4rem 10% 2rem;
    text-align: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-col, .image-col {
    flex-basis: 50%;
}

.image-col img {
    display: block;
    width: 450px;
    margin: auto;
}

.features h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 1.5rem;
}

.features p {
    color: #5a5959;
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.5%;
    line-height: 150%;
}

hr {
    width: 100%;
    margin-top: 2rem;
    border: 1px solid #e5e5e5;
}

/* Security Section Style */
.bank-info {
    display: flex;
    gap: 6rem;
    margin-bottom: 6rem;
}

.bank-info p {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
}

.jp-morgan-bank {
    margin-left: 7rem;
}

.jp-morgan-bank,
.network,
.license {
    display: flex;
    align-items: center;
}

.bank-info .fa-building-columns,
.network .fa-circle-check,
.license .fa-shield {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
    color: #89ec5a;
    font-size: 2rem;
    margin-right: 1.5rem;

    border-radius: 50%;
    background-color: #163300;
}

.lock-key {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 85%;
    height: 550px;
    margin: auto;
    text-align: left;
    border-radius: 3rem;
    background-color: #A0E1E1;
}

.lock-text h2 {
    color: #21231D;
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 30px;
}

.lock-text p {
    color: #21231D;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.5px;
    line-height: 150%;
}

.lock-key .lock-image img {
    height: 400px;
}

.lock-key .btn .learn-more {
    color: #A0E1E1;
    background-color: #21231D;
    padding: 10px 50px;
    border-radius: 30px;
}

.lock-key .btn .learn-more:hover {
    background-color: #163300;
}

.explore-business {
    margin: 70px 0;
    text-align: left;
    background-color: #163300;
}

.explore-business .text-col {
    padding: 4rem;
}

.explore-business .image-col {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.explore-business .image-col img {
    width: 500px;
    height: 600px;
    object-fit: cover;      /* Maintains aspect ratio */
    border-radius: 10px;
}

.explore-business .text-col h2 {
    color: #9FE870;
    font-size: 3rem;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 1.5rem;
}

.explore-business .text-col p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.3px;
    line-height: 150%;
}

.explore-business .btn button {
    font-size: 1rem;
    font-weight: 600;
    color: #163300;
    background-color: #9ff578;
    padding: 15px 20px;
}

.explore-business .btn .wise-business:hover {
    background-color: #c3f7aa;
}

/* Mission Section Style */
.our-mission {
    width: 85%;
    height: 720px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    border-radius: 30px;
    background-color: #163300;
}

.globe-image img {
    position: relative;
    top: -230px;
}

.mission-text {
    margin-top: -180px;
}

.mission-text h2 {
    color: #9ff578;
    font-size: 85px;
    font-weight: 800;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
}

.mission-text p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.5%;
    line-height: 150%;
    color: #fff;
}

.mission-text .btn .wise-mission {
    font-size: 15px;
    font-weight: 600;
    color: #163300;
    background-color: #9ff578;
    padding: 13px 23px;
    border-radius: 30px;
    cursor: pointer;
}
/* Main Section Style End Here */


/* Footer Section Style Start Here */
footer {
    background-color: #16330014;
    margin-top: 100px;
    padding: 100px 80px;
}

/* Conditions Style */
.conditions {
    background-color: #fff;
    border-radius: 30px;
}

.conditions ol {
    padding: 30px 50px;
}

.conditions ol li {
    color: #0f0f0f;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin: 10px 0;
}

.conditions ol li span {
    color: #163300;
    font-size: 15px;
    font-weight: 700;
}

/* Links Style */
footer .links {
    display: flex;
    justify-content: space-evenly;

    font-size: 14px;
    margin-top: 130px;
    padding-bottom: 15px;
}

.links p {
    color: #163300;
    font-weight: 700;
    margin-bottom: 20px;
}

.links a {
    display: block;
    color: #777;
    margin-bottom: 5px;
    text-decoration: none;
}

.links a:hover {
    color: #21231D;
    text-decoration: underline;
}

.social-media ul {
    display: flex;
    justify-content: center;
    gap: 15px;

    list-style: none;
    cursor: pointer;
}

.social-media ul li {
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #16330014;
    border-radius: 50%;
}

.social-media ul li i {
    font-size: 1.1rem;
    line-height: 30px;
}

.social-media ul li:hover {
    color: #fff;
    background-color: #21231D;
}

/* Important Links Style */
.imp-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.imp-links p,
.copy-right-text  p span {
    font-size: 14px;
    color: #3b3b3b;
    text-decoration: underline;
}

.copy-right {
    margin: 40px 0 20px;
}

.copy-right p,
.copy-right-text p {
    color: #3b3b3b;
    font-size: 14px;
    text-align: center;
}
/* Footer Section Style End Here */


/* Media query for screen sizes 500px and below */

@media screen and (max-width: 500px) {
    /* Header Section Style For Mobile */
    .header-left-links,
    .header-right ul li:not(:last-child):not(:nth-last-child(2)) {  /* Hide all items in header-right except the last two (Login and Register) */
        display: none;
    }

    .header-container {
        margin: 0 20px;
        padding: 0;
    }

    /* Main Section Style For Mobile */
    .heading h1 {
        font-size: 2.5rem;
        padding: 0  0 1rem;
    }

    .heading .btn button,
    .rate-calculator .btn button {
        width: 80%;
    }

    .main-container .btn .primary-btn {
        margin: 1rem 0;
    }

    .main-container .btn .secondary-btn {
        display: none;
    }

    .main-container .main-image {
        margin: 0.5rem auto;
    }

    .main-container .app-store img {
        height: 2rem;
        margin: 0  0.5rem;
    }

    /* Rate Calculator Section Style For Mobile */
    .exchange-rate-container {
        flex-direction: column;
        margin: 1.5rem 0;
    }

    .rate-text {
        width: 100%;
        padding: 1rem;
    }

    .rate-text h2 {
        font-size: 1.4rem;
    }
    
    .exchange-rate-container .rate-calculator {
        width: 95%;
        margin: 1rem 0;
    }

    .rate-calculator p {
        font-size: 11px;
    }

    /* Features Section Style For Mobile */
    .features {
        padding: 1rem;
    }
    
    .row {
        flex-direction: column;
    }
    
    .text-col, .image-col {
        flex-basis: 100%;               /* Full width on mobile */
        margin-bottom: 1rem;
    }
    
    .image-col img {
        width: 100%;
    }
    
    .features h2 {
        font-size: 1.3rem;
    }

    .features .btn,
    .explore-business .btn {
        padding-left: 2rem;
    }

    .features .btn button,
    .explore-business .btn button {
        width: 90%;
    }

    .features .btn .explore-account {
        display: none;
    }

    .row:first-child .text-col {        /* Adjust order for the first .row */
        order: -1;                      /* Text comes second */
    }

    hr {
        margin-top: 0.5rem;
    }

    /* Security Section Style For Mobile */
    .bank-info {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem;
    }

    .jp-morgan-bank {
        margin-left: 0;
    }

    .bank-info .fa-building-columns,
    .network .fa-circle-check,
    .license .fa-shield {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .lock-key {
        flex-direction: column-reverse;
        width: 93%;
        height: auto;
        padding: 2rem;
    }

    .lock-key .lock-image img {
        height: 250px;
        width: auto;
        margin-bottom: 2rem;
    }

    .lock-text h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .lock-text p {
        font-size: 1.1rem;
    }

    .lock-key .btn button {
        width: 100%;
    }

    /* Business Section Style For Mobile */
    .explore-business {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0;
    }

    .explore-business .text-col,
    .explore-business .image-col {
        padding: 1rem;
        text-align: left;
    }

    .explore-business .image-col img {
        width: 100%;        /* Adjusts image width to fit screen */
        height: 450px;      /* Maintains aspect ratio */
    }

    .explore-business .text-col h2 {
        font-size: 2rem;
    }

    .explore-business .text-col p {
        font-size: 16px;
        line-height: 1.5;
    }

    /* Our Mission Section Style For Mobile */
    .our-mission {
        width: 92%;
        height: 500px; 
        margin-top: 100px;
        padding: 1rem;
    }

    .globe-image img {
        top: -110px;
        height: 210px;
    }

    .mission-text {
        margin-top: -60px;
    }

    .mission-text h2 {
        font-size: 2.5rem;
    }

    .mission-text p {
        font-size: 1rem;
    }

    /* Footer Section Style For Mobile */
    footer {
        padding: 30px 15px;
    }

    .conditions ol {
        padding-left: 2rem;
    }

    footer .links {
        margin-top: 50px;
    }

    footer .links, .imp-links {
        flex-direction: column;
        text-align: center;
    }

    footer .imp-links .logo img {
        height: 25px;
        margin-bottom: 1rem;
    }
    

    .links p {
        margin: 20px;
    }

    .links p, 
    .links a, 
    .copy-right p, 
    .copy-right-text p {
        font-size: 15px;
    }
}